<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Worker Profile</title>
</head>

<body>
    {% load static %}
    <!-- Hearder part of the layout -->
    <nav class=" flex bg-pink-300 py-4 bg-gradient-to-tr from-cyan-300 to-blue-500">
        <div class=" flex space-x-5 my-auto ">
            <img src="{% static 'images/logo.png' %}" alt="image" class="w-12 rounded-3xl mx-4">
            <h4 class="font-serif text-3xl text-gray-700 font-extrabold font">Automated Attendance system</h4>
        </div>
        <ul class="flex my-auto space-x-20 absolute inset-y-auto right-32 text-2xl">
            <li class="hover:underline"><a href="{%url 'home' %}">Home</a></li>
            <li class="hover:underline"><a href="{%url 'about' %}"></a> About</a></li>
            <li class="hover:underline"><a href="{%url 'contact'%}">Contact</a></li>
        </ul>
    </nav>
    <!-- Main part of this page -->
    <div class="flex ">
        <div class="login flex flex-col w-3/6  mx-auto my-16 bg-lime-100 shadow-lg px-10 py-5 rounded-lg bg-gradient-to-br from-white to-lime-100">
            <h4 class="mx-auto my-4 text-3xl font-bold text-gray-700 underline "> Profile </h4>
            <div class="info space-x-10 flex">
                <div><img class="w-36 rounded-lg" src="{{data.emp_photo.url}}" alt="Profile"></div>
                <div>
                    <h2 class="font-bold text-lg ">Employee id: <span class="text-green-500">{{data.emp_id}}</span> </h2>
                    <h2 class=" font-medium ">Username: <span class="text-green-500">{{data.emp_name}}</span> </h2>
                    <h4 class="font-medium"> Department: <span class="text-green-500">{{data.emp_dep}}</span> </h4>
                    <h4 class="font-medium"> Address: <span class="text-green-500">{{data.emp_address}}</span> </h4>
                    <h4 class="font-medium"> Email: <span class="text-green-500">{{data.emp_email}}</span> </h4>
                    <h4 class="font-medium"> Phone: <span class="text-green-500">{{data.emp_phone}}</span> </h4>

                </div>

                


         
    </div>

</body>

</html>