<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Apply Leave Management</title>
</head>
<body>
    {%load static%}
    <!-- Hearder part of the layout -->
    <nav class = " flex bg-pink-300 py-4 bg-gradient-to-tr from-cyan-300 to-blue-500 " >
        <div class=" flex space-x-5 my-auto ">
            <img src="{% static 'images/logo.png' %}" alt="image" class="w-12 rounded-3xl mx-4">
            <h4 class="font-serif text-3xl text-gray-700 font-extrabold font">Automated Attendance system</h4>
        </div>
        <ul class="flex my-auto space-x-20 absolute inset-y-auto right-32 text-2xl">
            <li  class="hover:underline"><a href="{%url 'home' %}">Home</a></li>
            <li class="hover:underline"><a href="{%url 'about' %}">About</a></li>
            <li class="hover:underline"><a href="{%url 'contact'%}">Contact</a></li>
        </ul>
    </nav>

    <!-- MAin website layout -->
    
    <!-- <div class="main flex flex-col">
        <div class=" flex w-5/6 h-14 mx-auto rounded-lg drop-shadow-lg hover:drop-shadow-2xl text-white  bg-lime-100 my-6">
            <h3 class=" my-auto mx-5 text-3xl text-black font-thin">{{guserid.emp_name}} -<b> {{guserid.emp_id}}</b></h3>
        </div> -->


        <div class="login flex flex-col mx-auto my-10 bg-lime-50  w-4/6 px-10 py-5 rounded-lg">
            <h4 class="mx-auto my-4 text-2xl font-bold text-lime-600 ">Leave Application  </h4>
            <form class="flex flex-col" action="/worker/applyleave"  method="post">
                {% csrf_token %}
            
                <label for="username">Employee Id</label>
                <input type="text" name="empid" id="empid" placeholder="Enter Employee Id" value="{{empdata.emp_id}}" class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded">

                <label for="password">Employee Name</label>
                <input type="text" name="empname" id="empname" placeholder="Enter Employee Name" value="{{empdata.emp_name}}" class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded">

                <label for="empdep">Employee Department</label>
                <input type="text" name="empdep" id="empdep" placeholder="Enter Employee Department" value="{{empdata.emp_dep}}" class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded" >

                <label for="empdep">Leave Date Start From</label>
                <input type="date" name="leavestart" id="leavestart" onchange="validateDate()" placeholder="Start Date" class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded">

                <label for="empdep">End Leave Date</label>
                <input type="date" name="leaveend" id="leaveend" onchange="validateDate()" placeholder="Start Date" class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded">

                <div class="count flex">
                    <span class="px-2"><b>Remaining:</b></span>
                    <span class="medical flex "> <h6 class="px-2 text-red-600">Medical Leave:</h6>
                         <h6 class="px-2 text-red-900 text-bold">{{leavedata.medical_leave}}</h6>
                    </span>
                    <span class="Personal flex"> <h6 class="px-2">Personal Leave:</h6>{{leavedata.personal_leave}}.</span>
                </div>

                

                
                <label for="empdep">Apply leave type</label>
                <select class="my-2 border w-full border-slate-800 px-5 py-1 hover:drop-shadow-2xl rounded" name="leavetype" id="ltype">
                    
                    <option value="Select">Select</option>
                    <option value="Medical">Medical Leave</option>
                    <option value="Personal">Personal Leave</option>
                </select>

                <input class="my-4 mx-auto border w-52 border-slate-900 rounded-full py-1  hover:bg-green-700 duration-300 hover:text-white" type="submit" value="Apply">
            </form>
        </div>
    </div>
    
    <script>


        function validateDate() {
            var workerSdate = new Date(document.getElementById("leavestart").value);
            var workerLdate = new Date(document.getElementById("leaveend").value);
            var today = new Date();

            if(workerSdate < today || workerLdate < today){

                alert('can not fill previous date');
        }
}
    </script>
</body>

</html>