<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Attendance System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script type="text/javascript" src="https://cdn.tailwindcss.com"></script> -->

</head>

<body>
    {% load static %}
    <!-- Hearder part of the layout -->
    <nav class="flex py-6 h-24 bg-gradient-to-tr from-cyan-300 to-blue-500 fixed w-full ">
        <div class=" flex space-x-5 my-auto ">
            <img src="{% static 'images/logo.png' %}" alt="image" class="w-12 rounded-3xl mx-4">
            <h4 class="font-serif text-3xl text-gray-700 font-extrabold font">Automated Attendance system</h4>
        </div>
        <ul class="flex my-auto space-x-20 absolute inset-y-auto right-32 text-2xl">
            <li class="hover:underline"><a href="{%url 'home' %}">Home</a></li>
            <li class="hover:underline"><a href="{%url 'about' %}"> About</a></li>
            <li class="hover:underline"><a href="{%url 'contact'%}">Contact</a></li>

        </ul>
    </nav>
    
    <!-- main page design -->
    <div class="flex flex-col bg-gradient-to-br from-white to-lime-200"
    style="height: 450px;">
    <div class="flex mt-40 justify-center ">
        <div class="content text-2xl font-extrabold">
            <!-- <p class="text-9xl">"</p> -->
            <pre class="bg-clip-text text-transparent bg-gradient-to-bl from-red-400 to-rose-900 font-bold" id="quotes">
                </pre>

        </div>
    </div>

    <div class="form flex mx-auto my-auto  space-x-6">
        <form class="mx-auto my-auto" action="/HRM" method="get">
            <input class="text-black bg-gradient-to-r from-cyan-600 via-cyan-200 to-cyan-600 hover:bg-gradient-to-br 0  font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 rounded-full" type="submit"
                value="Login as Admin">
        </form>
        <form class="mx-auto my-auto" action="/worker" method="get">
            <input class="text-black bg-gradient-to-r from-cyan-600 via-cyan-200 to-cyan-600 hover:bg-gradient-to-br 0  font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 rounded-full" type="submit"
                value="Login as Employee">
        </form>

    </div>

    </div>
</div>
<!-- About page design -->
<div class= "flex flex-col bg-sky-100 " >
    <h1 class="mt-2 mx-auto text-3xl  bg-clip-text text-transparent bg-gradient-to-br from-zinc-800 to-emerald-700 font-serif font-bold f">    ABOUT    </h1>
    <a href="#about"><img class="mx-auto" src="{% static 'images/minus.png' %}" alt="" width="160px"></a>
    <div class="flex mt-3"> 
        <div class="max-w-5xl my-2 m mx-auto bg-gradient-to-br from-lime-100 to-lime-300 rounded-lg border-spacing-3 px-3">
            <p>Welcome to ABC Inc., where punctuality and commitment are the cornerstones of our success. We understand the importance of being on time and showing up ready to work, and we encourage all of our employees to prioritize punctuality as a key element of their professional approach.</p>

               <p> At ABC Inc., we believe that every moment counts, and we are committed to providing a workplace culture that values and rewards promptness and reliability. We recognize that being on time is not only respectful to your colleagues and clients, but it also helps to create a positive and productive work environment where everyone can thrive.</p>
                
                <p> understand that life can be unpredictable, and we offer a range of flexible scheduling options to help our employees manage their work-life balance. However, we also believe that it is important to honor our commitments to our clients and colleagues, and we expect all of our employees to arrive on time and ready to work during their scheduled hours.</p>
                
                <p>We recognize that being punctual can sometimes be challenging, and we are committed to supporting our employees in their efforts to be on time. We offer training and resources to help our team members develop effective time-management strategies, and we provide ongoing feedback and coaching to help them stay on track.</p>
                
                <p>At ABC Inc., we believe that a culture of punctuality and commitment is essential for our success, and we are proud of our team members who consistently demonstrate these values. We welcome you to join our team and help us create a workplace where punctuality and reliability are key ingredients of our shared success
            </p>
        </div>
    </div>
    
    
</div>


    <div class="flex  my-auto space-x-3 font-sans text-white bg-cyan-500 h-20 px-20" >
        <a href="https://www.instagram.com" target="_blank" class="my-auto"><img src="{% static 'images/instagram.png' %}" alt="" width="30"></a>
        <a href="https://www.linkedin.com/feed/?trk=IN-SEM_google-adwords_Jordan-brand-sign-up" class="my-auto" target="_blank"> <img src=" {% static 'images/linkedin.png' %}" alt="" width="30"></a>

        <h4 class=" mr-7 my-auto pr-6">Developed by - Mohd Asjad</h4>
    </div>
</body>

<script>
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }
    
    let x = [
    `Ability is what you’re capable of doing. 
    Motivation determines what you do. 
        Attitude determines how well you do it.`, 
    `I got lucky because I never gave up the search. 
    Are you quitting too soon?
        Or are you willing to pursue luck with a vengeance?`,
    `Challenges are what make life interesting 
        and overcoming them is what makes life meaningful`];
    let listlen = x.length

    let rand = getRandomInt(listlen)
    document.getElementById('quotes').innerHTML = x[rand];
            
</script>


</html>